<a class="meeting meeting--<%= meeting.free_spots %>" href="<%= meeting_path(meeting) %>">
  <div class="meeting__wrapper">
    <div class="meeting__header">
      <p><%= meeting.start_date.strftime("%A %d %B %Y ") %></p>
    </div>
    <div class="meeting__body">
      <div class="button--s button--outline--danger"><%= meeting.free_spots %> places disponibles</div>
      <p>Ajoutée le <%= meeting.created_at.strftime("%A %d %B")%></p>
    </div>
  </div>
</a>