<main class="container" data-turbo='false'>
  <h2 class="text-4xl">Changer mon mot de passe</h2>

  <div class="form__wrapper">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>En attente de confirmation pour : <%= resource.unconfirmed_email %>
        </div>
      <% end %>

      <div class="field">
        <%= f.label 'Mot de passe' %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder:'6 charactères minimum' %>
        <% resource.errors.full_messages_for(:password).each do |message| %>
          <div class="text-red-400"><%= message %></div>
        <% end %>
      </div>

      <div class="field">
        <%= f.label 'Confirmer le mot de passe' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
          <div class="text-red-400"><%= message %></div>
        <% end %>
      </div>

      <div class="field">
        <%= f.label 'Mot de passe actuel' %> <br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
        <% resource.errors.full_messages_for(:current_password).each do |message| %>
          <div class="text-red-400"><%= message %></div>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit 'Update' %>
      </div>
    <% end %>
  </div>

  <h3 class="text-4xl">Annuler mon compte</h3>

  <div class="shared__wrapper">
    <p>Insatisfait ? </p>
    <div class="shared-links button--m button--secondary">
      <%= button_to 'Annuler mon compte', registration_path(resource_name), data: { confirm: 'Êtes-vous sûre ?',
        turbo_confirm: 'Êtes-vous sûre ?' }, method: :delete %>
    </div>
  </div>

  <div class="shared__wrapper">
    <div class="shared-links button--m button--secondary">
      <%= link_to 'Retour', :back %>
    </div>
  </div>
</main>