<main class="container" data-turbo-cache='false'>
  <h2 class="text-4xl">S'inscrire</h2>

  <div class="form__wrapper">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label 'Email' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          <% resource.errors.full_messages_for(:email).each do |message| %>
            <div class="text-red-400"><%= message %></div>
          <% end %>
        </div>

        <div class="field">
          <%= f.label 'Mot de passe' %><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder:'6 charactères minimum' %>
          <% resource.errors.full_messages_for(:password).each do |message| %>
            <div class="text-red-400"><%= message %></div>
          <% end %>
        </div>

        <div class="field">
          <%= f.label 'Confirmez le mot de passe' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          <% resource.errors.full_messages_for(:password).each do |message| %>
            <div class="text-red-400"><%= message %></div>
          <% end %>
        </div>

        <div class="field">
          <%= f.label 'Prénom' %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
          <% resource.errors.full_messages_for(:first_name).each do |message| %>
            <div class="text-red-400"><%= message %></div>
          <% end %>
        </div>

        <div class="field">
          <%= f.label 'Nom' %><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
          <% resource.errors.full_messages_for(:last_name).each do |message| %>
            <div class="text-red-400"><%= message %></div>
          <% end %>
        </div>

        <div class="field">
          <%= f.label 'Date de naissance' %><br />
          <%= f.date_field :birth_date, autofocus: true, autocomplete: "city" %>
          <% resource.errors.full_messages_for(:birth_date).each do |message| %>
            <div class="text-red-400"><%= message %></div>
          <% end %>
        </div>
        <div class="field">
          <%= f.label 'Ville' %><br />
          <%= f.text_field :city, autofocus: true, autocomplete: "city" %>
          <% resource.errors.full_messages_for(:city).each do |message| %>
            <div class="text-red-400"><%= message %></div>
          <% end %>
        </div>

        <div class="field">
          <%= f.label 'Code postal' %><br />
          <%= f.text_field :zip_code, autofocus: true, autocomplete: "zip_code" %>
          <% resource.errors.full_messages_for(:zip_code).each do |message| %>
            <div class="text-red-400"><%= message %></div>
          <% end %>
        </div>

        <div class="field">
          <%= f.label 'Téléphone' %><br />
          <%= f.telephone_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
          <% resource.errors.full_messages_for(:phone_number).each do |message| %>
            <div class="text-red-400"><%= message %></div>
          <% end %>
        </div>

        <div class="actions">
          <%= f.submit "S'inscrire" %>
        </div>
        <% end %>
  </div>

  <div class="shared__wrapper">
    <p>Déjà un compte ? Connectez-vous </p>
    <%= render "devise/shared/links" %>
  </div>
</main>