<div>
  <h1 class="font-bold text-4xl"><%= @recipe.title %></h1>
</div>

<div>
  Chef : <%= @recipe.chef.first_name %> 
</div>
<div>
  Description : <%= @recipe.content %> 
</div>
<div>
  Durée : <%= @recipe.duration %> 
</div>
<div>
  Difficulté : <%= @recipe.difficulty %> 
</div>

<h3 class="font-bold text-2xl">Masterclass</h2>

<% @recipe.masterclasses.each do |masterclass| %>
  <%= link_to "#{masterclass.title}", masterclass_path(masterclass) %>
<% end %>

