<div>
  <h1 class="font-bold text-4xl"><%= @recipe.title %></h1>
</div>

<div>
  Chef : <%= @recipe.chef.full_name %> 
</div>
<div>
  Description : <%= @recipe.content %> 
</div>
<div>
  Durée : <%= @recipe.duration %> minutes
</div>
<div>
  Difficulté : <%= @recipe.difficulty %> 
</div>

<h3 class="font-bold text-2xl">Masterclass</h2>

<% @recipe.masterclasses.each do |masterclass| %>
  <%= link_to masterclass.title, chef_masterclass_path(masterclass.chef, masterclass) %>
<% end %>

<% if @is_owner %>
  <%= link_to "Editer la recette", edit_chef_recipe_path(@recipe) %>
  <%= button_to "Supprimer ma recette", recipe_path(@recipe), method: :delete, class: "button--danger" %>
<% end %>

