<main class="container">
  <div class="recipe">
    <div class="recipe__wrapper">
      <div class="recipe__wrapper__header">
        <h1 class="font-bold text-4xl"><%= @recipe.title %></h1>
      <h2>Chef : <%= @recipe.chef.full_name %> </h2>
      </div>
      <div class="recipe__wrapper__body">

      </div>
      <div class="recipe__wrapper__footer">
        <div class="recipe_masterclasses">
          <h2>Apprendre cette recette par <%=@recipe.chef.full_name%> </h2> 
        </div>
      </div>
    </div>
  </div>

<div>
  Description : <%= @recipe.content %> 
</div>
<div>
  Durée : <%= @recipe.duration %> minutes
</div>
<div>
  Difficulté : <%= @recipe.difficulty %> 
</div>

<h3 class="font-bold text-2xl">Masterclass</h2>

<% @recipe.masterclasses.each do |masterclass| %>
  <%= link_to "#{masterclass.title}", masterclass_path(masterclass) %>
<% end %>

<% if @is_owner %>
  <%= link_to "Editer la recette", edit_chef_recipe_path(@recipe) %>
  <%= button_to "Supprimer ma recette", recipe_path(@recipe), method: :delete, class: "button--danger" %>
<% end %>

</main>