
  <div class="card">
      <div class="badge_category">
        <% masterclass.categories.each do |category| %>
          <%= category.name %>
        <% end %>
      </div>
    <div class="card__header">
        <% if masterclass.image.attached? %>
          <%= image_tag masterclass.image, alt:"Photo de masterclass" %>
        <% else %>
          <img src="<%= masterclass.slug %>" alt="Photo de masterclass">
        <% end %>
          
    </div>
    <div class="card__body">
      <h3><%= masterclass.title %></h3>
      <div class="card__body__user">
        <h4><%= masterclass.chef.full_name %></h4>
      </div>
    </div>
    <div class="card__footer">
      <%= link_to "Voir le cours", chef_masterclass_path(masterclass.chef, masterclass), class:"button--m button--secondary"%>
          <button class="button--m button--primary"><%= link_to "Participer", masterclass_meetings_path(masterclass) %></button>
    </div>
  </div>
