<main class="container">
  <div class="masterclass">
    <div class="masterclass__header">

      <h1><%= @masterclass.title %> </h1>
      <div class="masterclass_informations">
        <div class="notice_commentaries">
          <p>
            <i class="fas fa-star"></i>
            4,5
          </p>
          <p>20 commentaires</p>
          <p>Tours, Centre-Val de Loire, France</p>
        </div>
        <div class="buttons--row share_like_button">
          <% if !@is_owner %>
            <button><i class="far fa-heart"></i> Enregistrer</button>
            <button class="button--s button--primary"><%= link_to "Participer", masterclass_meetings_path(@masterclass) %></button>
          <% end %>
        </div>
      </div>
    </div>
    <div class="masterclass__body">
      <div class="masterclass_section--1">
        <div class="masterclass_section--1__wrapper"> 
          <%= render partial:'layouts/category', locals: {masterclass: @masterclass} %>
          <% if @masterclass.image.attached? %>
            <%= image_tag @masterclass.image, alt:"Photo de masterclass" %>
          <% else %>
            <img src="<%= @masterclass.slug %>" alt="Photo de masterclass">
          <% end %>
        </div>
      </div>
      <div class="masterclass_section--2">
        <div class="masterclass_section--2__wrapper">
          <h2>Présentation du cours</h2>
          <p class="masterclass--description"><%= simple_format(@masterclass.description) %></p>
          <h2>Durée du cours : <%= @masterclass.duration %> minutes</h2> 
        </div>
      </div>
      <div class="masterclass_section--3">
        <div class="masterclass_section--3__wrapper">
          <%= render partial:'layouts/profilebadge--masterclass', locals:{masterclass: @masterclass} %>
          <div class="masterclass_section--3__footer">
            <h3>Recette prévu pendant le cours  <i class="fas fa-arrow-right"></i></h3>
            <div class="recipe-badge buttons--row">
              <% @recipes.each do |recipe| %> 
                <%= link_to recipe.title, chef_recipe_path(recipe.chef, recipe), class:" button--s button--outline--success" %> 
              <% end %>
            </div>
            <% if !@is_owner %> 
              <div class="reservation-badge">
                <div class="reservation-badge__wrapper">
                  <div>
                    <%= @masterclass.price %> € /personnes
                  </div>
                  <%= link_to "Participer", masterclass_meetings_path(@masterclass), class:"button--m button--primary" %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="buttons--row is_owner--options">
            <% if @is_owner %>
              <%= link_to "Editer le cours", edit_masterclass_path(@masterclass), class:'button--s button--secondary' %>
              <%= link_to "Créer une session", new_masterclass_meeting_path(@masterclass), class: "button--s button--success"  %>
              <%= button_to "Supprimer", masterclass_path(@masterclass), method: :delete, class: "button--s button--danger" %>
            <% end %>
          </div>
        </div> 
      </div>
    </div>
  </div>
</main>