<div>
  <h1 class="font-bold text-4xl"><%= @masterclass.title %></h1>
</div>

<div>
  Chef : <%= @masterclass.chef.full_name %>
</div>
<div>
  Description : <%= @masterclass.description %>
</div>
<div>
  Durée : <%= @masterclass.duration %>
</div>
<div>
  Prix par personne : <%= @masterclass.price %>
</div>

<h3 class="font-bold text-2xl">Recettes</h2>

<% @recipes.each do |recipe| %>
  <%= link_to "#{recipe.title}", recipe_path(recipe) %>
<% end %>
<% if current_user%>
  <% if current_user.is_chef && @masterclass.chef_id == current_user.id %>
  <%= link_to "Editer la masterclass", edit_chef_masterclass_path(@masterclass) %>
  <%= button_to "Supprimer ma masterclass", masterclass_path(@masterclass), method: :delete, class: "button--danger" %>
  <% end %>
<% end %>