<div>
  <h1 class="font-bold text-4xl"><%= @masterclass.title %></h1>
</div>

<div>
  Description : <%= @masterclass.description %>
</div>
<div>
  Durée : <%= @masterclass.duration %>
</div>
<div>
  Prix par personne : <%= @masterclass.price %>
</div>

<h3 class="font-bold text-2xl">Recettes</h2>

<% @recipes.each do |recipe| %>
  <%= link_to "#{recipe.title}", recipe_path(recipe) %>
<% end %>

<% if @user_is_owner %>
  <div><%= link_to "Créer une session", new_chef_meeting_path %></div>
<% end %>
