<main class="container">
  <div class="masterclass">
    <div class="masterclass__header">
      <h1><%= @masterclass.title %></h1>
      <div class="masterclass_informations">
        <div class="notice_commentaries">
          <p>
            <i class="fas fa-star"></i>
            4,5
          </p>
          <p>20 commentaires</p>
          <p>Tours, Centre-Val de Loire, France</p>
        </div>
        <div class="buttons--row">
          <button><i class="far fa-heart"></i> Enregistrer</button>
          <button class="button--s button--primary">Participer</button>
        </div>
      </div>
    </div>
    <div class="masterclass__body">
      <div class="masterclass_section--1">
        <img src="https://picsum.photos/1000" alt="" />   
      </div>
      <div class="masterclass_section--2">
        <%= render partial:'layouts/profilebadge', locals:{masterclass: @masterclass} %>
          <div><%= @masterclass.price %> € /personnes</div>
          <h3 class="font-bold text-2xl">Recettes</h3>
          <% @recipes.each do |recipe| %> <%= link_to "#{recipe.title}",
            recipe_path(recipe) %> 
          <% end %>
      </div>
      <div class="masterclass_section--3">
        <div>Description : <%= @masterclass.description %></div>
        <h2>Durée : <%= @masterclass.duration %> minutes</h2> 
      </div>
    </div>


<% @recipes.each do |recipe| %>
  <%= link_to "#{recipe.title}", recipe_path(recipe) %>
<% end %>
<% if current_user%>
  <% if current_user.is_chef && @masterclass.chef_id == current_user.id %>
  <%= link_to "Editer la masterclass", edit_chef_masterclass_path(@masterclass) %>
  <%= button_to "Supprimer ma masterclass", masterclass_path(@masterclass), method: :delete, class: "button--danger" %>
  <% end %>
<% end %>
  </div>
</main>
