<main class="container">
<div class="chef_profile">
    <div class="chef_profile__wrapper">
      <div class="chef_profile__header">
        <img src="https://i.pravatar.cc/300" alt="" />
        <h2><%= @user.full_name %></h2>
        <ul class="chef_profile__header--options">
          <li class="options--link">
            <%= link_to  do %>
            <img src="<%=image_path('edit_calenda-icon.png')%>" alt="" />
            <p>Cours</p>
            <% end %>
          </li>
          <li class="options--link">
            <%= link_to  do %>
              <img src="<%=image_path('soup_kitchen-icon.png')%>" alt="" />
              <p>Recettes</p>
            <% end %>
          </li>
          <li class="options--link">
            <a href="<%= edit_guest_profile_path(@user) %>">
              <img src="<%=image_path('manage_account-icon.png')%>" alt="" />
              <p>Gérer</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="chef_profile__body">
        <h3>À propos</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
          esse aliquam facilis obcaecati quaerat? Ut adipisci optio aspernatur
          a rerum voluptate voluptas, quis exercitationem ea facilis fugiat
          reprehenderit labore repellat ipsum placeat blanditiis quia eveniet
          natus incidunt iure, deleniti recusandae consequatur? Voluptas
          exercitationem sunt fugiat odio ad doloribus eum ea itaque? Minus
          earum dicta expedita nemo vero ullam, incidunt, quasi, consectetur
          eaque ducimus perspiciatis soluta temporibus eligendi minima odit
          autem! Voluptas, velit. Nobis, necessitatibus quas.
        </p>
        <% if current_user %>
          <%= render 'informations' %>
        <% end %>
      </div>
    </div>
  </div>
</main>