<div class="navbar " data-turbo="false">
  <div class="navbar__wrapper container">
    <div class="logo">
      <div class="logo__wrapper">
        <img
          src="<%= image_path('logo_cookin.svg')%>"
          width="60px"
          alt="Logo du site cookin"
        />
        <a href="<%=root_path%>">Cookin</a>
      </div>
    </div>
    <div class="search">
      <div class="search__wrapper">
        <div class="searchbar">
          <input type="text" placeholder="Rechercher ..." />
        </div>
      </div>
    </div>
    <div class="profile">
      <div class="profile__wrapper">
        <div class="masterclass_options">
          <a href="#">Devenir chef</a>
        </div>
        <div class="profile_menu">
          <button>
          <% if user_signed_in? %>
            <img
              src="<%=image_path('empty_avatar.png')%>"
              place
              alt="Photo de profil et accès au menu déroulant"
            />
            <% else %>
              <i class="fas fa-user fa-2x"></i>
            <% end %>
          </button>
        </div>
      </div>
    </div>
    <div class="collapse_profile" id="collapse_profile">
      <div class="collapse_profile__wrapper">   
        <% if user_signed_in? %>
          <% if current_user.is_chef %>

            <div class="collapse__logged">
              <a href="<%= chef_path(current_user) %>">Profil</a>
              <a href="<%= new_masterclass_path %>">Proposer un cours</a>
              <a href="<%= new_recipe_path %>">Ajouter une recette</a>
            </div>
            <div class="collapse__static_pages">
              <a href="#">À propos</a>
              <a href="">Nous contacter</a>
              <%= button_to "Se déconnecter", destroy_user_session_path, method: :get, class:'disconnect-button' %>
            </div>
          <% else %>
            <div class="collapse__logged">
              <a href="#">Profil</a>
              <a href="#">Mes cours</a>
              <a href="#">Mes recettes</a>
            </div>
            <div class="collapse__static_pages">
              <a href="#">À propos</a>
              <a href="">Nous contacter</a>
              <%= button_to "Se déconnecter", destroy_user_session_path, method: :get, class:'disconnect-button' %>
            </div>
          <% end %> 
        <% else %>
            <div class="collapse__login">
              <a href="<%=new_user_registration_path%>">S'inscrire</a>
              <a href="<%=new_user_session_path%>">Se connecter</a>
            </div>
            <div class="collapse__static_pages">
              <a href="#">Découvrir le concept</a>
              <a href="#">À propos</a>
              <a href="">Nous contacter</a>
            </div> 
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="menu "data-turbo="false" >
  <div class="menu__wrapper">
    <ul class="icon">
      <li class="icon__button__wrapper">
        <a href="#" class="icon__button" ><i id="search_button" class="fas fa-search fa-2x"></i></a>
      </li>
      <li class="icon__button__wrapper ">
        <a href="<%=masterclasses_path%>" class="icon__button icon__button--logo"
          ><img src="<%=image_path('logo_cookin.svg')%>" alt=""
        /></a>
      </li>
      <li class="icon__button__wrapper">
        <a href="#" class="icon__button"><i class="fas fa-user fa-2x"></i></a>
      </li>
    </ul>
  </div>
</div>
