<nav class="navbar" data-turbo="false">
  <div class="navbar__wrapper container">
    <div class="logo">
      <a href="<%= root_path %>" class="logo__wrapper">
        <img
          src="<%= image_path('logo_cookin.svg')%>"
          width="60px"
          alt="Logo du site cookin"
        />
        <p href="<%= root_path %>">Cookin</p>
      </a>
    </div>
    <div class="search">
      <div class="search__wrapper">
        <div class="searchbar">
          <%= form_with url: "/masterclasses", method: :get do |form| %>
            <%= form.text_field :search, class:"", placeholder:"Recherche" %>
            <%= button_tag( :class => "button_green") do %>
              <i class="fas fa-search search--button"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
      <div class="profile">
      <div class="profile__wrapper">
          <% if user_signed_in? && !current_user.is_chef %>
            <div class="become-chef">
              <%= button_to "Partager une recette", new_recipe_path, method: :get %>
            </div>
          <% end %>
        <div class="profile_menu" data-controller='navbar'>
          <button>
          <% if user_signed_in? %>
            <img
              src="<%= image_path('empty_avatar.png') %>"
              place
              alt="Photo de profil et accès au menu déroulant"
            />
            <% else %>
              <i class="fas fa-user fa-2x"></i>
            <% end %>
          </button>
        </div>
      </div>
    </div>
    <div class="collapse_profile" id="collapse_profile">
      <div class="collapse_profile__wrapper">
        <% if user_signed_in? %>
          <% if current_user.is_chef %>

            <div class="collapse__logged">
              <a href="<%= chef_path(current_user) %>">Profil</a>
              <a href="<%= new_masterclass_path %>">Proposer un cours</a>
              <a href="<%= new_recipe_path %>">Ajouter une recette</a>
              <a href="<%= chef_recipes_path(current_user) %>">Mes recettes</a>
              <a href="<%= chef_masterclasses_path(current_user) %>">Mes cours</a>
              <a href="<%= chef_reservations_path %>">Mes réservations</a>
            </div>
            <div class="collapse__static_pages">
              <%= link_to "À propos", pages_about_path %>
              <%= link_to "Nous contacter", pages_contact_path %>
              <%= button_to "Se déconnecter", destroy_user_session_path, method: :get, class:'disconnect-button' %>
            </div>
          <% else %>
            <div class="collapse__logged">
              <%= link_to "Partager une recette", new_recipe_path, method: :get, class:"become-chef--menu" %>
              <a href="<%= guest_profile_path(current_user) %>">Profil</a>
              <a href="#">Mes cours</a>
              <a href="#">Mes recettes</a>
              <a href="<%= guest_reservations_path %>">Mes réservations</a>
            </div>
            <div class="collapse__static_pages">
              <%= link_to "À propos", pages_about_path %>
              <%= link_to "Nous contacter", pages_contact_path %>
              <%= button_to "Se déconnecter", destroy_user_session_path, method: :get, class:'disconnect-button' %>
            </div>
          <% end %> 
        <% else %>
            <div class="collapse__login">
              <a href="<%= new_user_registration_path %>">S'inscrire</a>
              <a href="<%= new_user_session_path %>">Se connecter</a>
            </div>
            <div class="collapse__static_pages">
              <%= link_to "À propos", pages_about_path %>
              <%= link_to "Nous contacter", pages_contact_path %>
            </div> 
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="menu">
  <div class="menu__wrapper">
    <div class="collapse_menu">
      <div class="collapse_profile__wrapper">   
        <% if user_signed_in? %>
          <% if current_user.is_chef %>

            <div class="collapse__logged">
              <a href="<%= chef_path(current_user) %>">Profil</a>
              <a href="<%= new_masterclass_path %>">Proposer un cours</a>
              <a href="<%= new_recipe_path %>">Ajouter une recette</a>
              <a href="<%= chef_recipes_path(current_user) %>">Mes recettes</a>
              <a href="<%= chef_masterclasses_path(current_user) %>">Mes cours</a>
              <a href="<%= chef_reservations_path %>">Mes réservations</a>
            </div>
            <div class="collapse__static_pages">
              <a href="#">À propos</a>
              <a href="#">Nous contacter</a>
              <%= button_to "Se déconnecter", destroy_user_session_path, method: :get, class:'disconnect-button' %>
            </div>
          <% else %>
            <div class="collapse__logged">
              <%= link_to "Partager une recette", new_recipe_path, method: :get %>
              <a href="#">Profil</a>
              <a href="#">Mes cours</a>
              <a href="#">Mes recettes</a>
            </div>
            <div class="collapse__static_pages">
              <a href="#">À propos</a>
              <a href="#">Nous contacter</a>
              <%= button_to "Se déconnecter", destroy_user_session_path, method: :get, class:'disconnect-button' %>
            </div>
          <% end %>
        <% else %>
            <div class="collapse__login">
              <a href="<%= new_user_registration_path %>">S'inscrire</a>
              <a href="<%= new_user_session_path %>">Se connecter</a>
            </div>
            <div class="collapse__static_pages">
              <a href="#">Découvrir le concept</a>
              <a href="#">À propos</a>
              <a href="#">Nous contacter</a>
            </div>
        <% end %>
      </div>
    </div>
    <ul class="icon">
      <li class="icon__button__wrapper">
        <button class="icon__button" ><i id="search_button" class="fas fa-search fa-2x"></i></button>
      </li>
      <li class="icon__button__wrapper ">
        <a href="<%= masterclasses_path %>" class="icon__button icon__button--logo"
          ><img src="<%=image_path('logo_cookin.svg')%>" alt="logo cookin"
        /></a>
      </li>
      <li class="icon__button__wrapper">
        <button class="icon__button"><i class="fas fa-user fa-2x" id="collapseButtonOnMenu"></i></button>
      </li>
    </ul>
  </div>
</nav>
