<% if current_user.is_chef %>
  <div class="reservation">
    <div class="reservation__wrapper reservation__wrapper--<%=reservation.status%>">
      <div class="reservation__header">
        
      </div>
      <div class="reservation__body">
        <p><%= reservation.guest.full_name %></p>
      <%= button_to "Valider", reservation_path(reservation), method: 'patch' %>
      <%= button_to "Annuler", reservation_path(reservation), method: 'delete' %>

      </div>
    </div>
  </div>
<% else %>
  <div class="reservation">
    <div class="reservation__wrapper reservation__wrapper--<%=reservation.status%>">
      <div class="reservation__header">
        <p><%= reservation.masterclass.title %></p>
        <p><%= reservation.meeting.start_date.strftime("%A %d %B %Y ") %></p>
      </div>
      <div class="reservation__body">
        <% if reservation.status %>
          <p> Confirmé </p>
        <% else %>
          <div class="buttons--row">
            <p class="button--s button--outline--danger"> En attente </p>
        <% end %>
            <%= button_to "Annuler", reservation_path(reservation),class:"button--s button--danger ml-3", method: 'delete', form: {data: {turbo_confirm: "Êtes-vous sûr.e ?"}} %>
          </div>
      </div>
    </div>
  </div>
<% end %>




