<div class="secondnav">
  <div class="secondnav__wrapper">
    <div class="secondnav_icon">
      <%= link_to image_tag("burger.png"), masterclasses_path(search: "Fast-Food"), alt:'Logo de fast-food burger' %>
      <p>Fast Food</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("des-legumes.png"), masterclasses_path(search: "Végétarien"), alt:'Logo de plat végétarien' %>
      <p>Végétarien</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("taco.png"), masterclasses_path(search: "Mexicain"), alt:'Logo de plat mexicain' %>
      <p>Mexicain</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("flag.png"), masterclasses_path(search: "France"), alt:'Logo de plat francais' %>
      <p>Français</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("vegetalien.png"), masterclasses_path(search: "Vegan"), alt:'Logo de plat vegan' %>
      <p>Vegan</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("sans-gluten.png"), masterclasses_path(search: "Sans gluten"), alt:'Logo de plat sans gluten' %>
      <p>Sans gluten</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("japon.png"), masterclasses_path(search: "Japon"), alt:'Logo de plat japonais' %>
      <p>Japonais</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("spaguetti.png"), masterclasses_path(search: "Italien"), alt:'Logo de plat italien' %>
      <p>Italien</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("lanterns.png"), masterclasses_path(search: "Chinois"), alt:'Logo de plat chinois' %>
      <p>Chinois</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("curry.png"), masterclasses_path(search: "Indien"), alt:'Logo de plat indien' %>
      <p>Indien</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("cake.png"), masterclasses_path(search: "Patisserie"), alt:'Logo de patisserie' %>
      <p>Pâtisserie</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("healthy-food.png"), masterclasses_path(search: "Cuisine saine"), alt:'Logo de plat healthy' %>
      <p>Healthy</p>
    </div>
    <div class="secondnav_icon">
      <%= link_to image_tag("thai-food.png"), masterclasses_path(search: "Thai"), alt:'Logo de plat thai' %>
      <p>Thai</p>
    </div>
  </div>
</div>