<div class="secondnav">
  <div class="secondnav__wrapper container">
    <div class="secondnav_icon">
      <img src="<%=image_path('pin-icon.png')%>" alt="">
      <p>Autour de moi</p>
    </div>
    <div class="secondnav_icon">
      <img src="<%=image_path('burger.png')%>" alt="">
      <p>Americain</p>
    </div>
    <div class="secondnav_icon">
      <img src="<%=image_path('des-legumes.png')%>" alt="">
      <p>Végétarien</p>
    </div>
    <div class="secondnav_icon">
      <img src="<%=image_path('taco.png')%>" alt="">
      <p>Mexicain</p>
    </div>
    <div class="secondnav_icon">
      <img src="<%=image_path('viande.png')%>" alt="">
      <p>Carnivor</p>
    </div>
  </div>
</div>